@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

html {
	margin: 0;
	padding: 0;
}

body {
	max-width: 1280px;
	margin: 0 auto;
	padding: 0;
	overflow-x: hidden;
	font-family: 'Open Sans', sans-serif;
}

.site-container {
    max-width: 1200px;
}

/*HEADER*/

header {
	width: 100%;
	height: 100px;
	
}

.header-container {
	height: 100px;
	width: 100%;
  background-color: #F0F4EF ;
  
}

.title {
	color: #4A913D;
	width: 600px;
	height: 100px;
	text-align: center;
	margin-left: 270px;
	padding-top: 10px;
	font-family: 'Cinzel', serif;
	font-size: 40px;

}


.logo {
	width: 50px;
	height: 50px;

}



/*NAV*/


nav {
	width: 100%;
	height: 50px;
	background-color: white;
}

#navegador ul{
   list-style-type: none;
   text-align: center;
   margin-top: 60px;
   
}

#navegador li{
	font-size: 20px;
   display: inline;
   text-align: center;
   margin: 0 10px 0 0;
   font-family: 'Noto Serif', serif;
   padding: 50px;

}

#navegador li a {
   padding: 20px 20px 20px 20px;
   color: #4A913D;
   text-decoration: none;
   border-radius: 50px 50px 50px 50px;
}

#navegador li a:hover{
   background-color: #F0F4EF;
   
}


/*MAIN*/

.main-container {
	width: 100%;
	height: 800px;
}


.img-1 img {
	height: 700px;
	width: 1200px;
	margin-top: 50px;
}



.carousel {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    margin-top: 50px;
    background-color: transparent;

}


#retroceder img {
	width: 30px;
	height: 30px;

}

button {
	background-color: white;
	border-style: none;
	outline-style: none;
	
}

#avanzar img {
	width: 30px;
	height: 30px;
}

#imagen {
    width: 100%;
    height: 600px;
    background-size: cover;

}




.sobre-nosotros {
	height: 550px;
  align-items: center;
  text-align: center;
  margin-top: -70px;
}

.sobre-nosotros h2 {
  text-align: center;
  font-family: cinzel;
  text-decoration: underline;
  letter-spacing: 1pt;
  font-weight: bold;
  margin-bottom: 70px;
  
}



.sobre-nosotros .right-box p {
	font-size: 25px;
  font-family: 'Cinzel', serif;
  line-height:52px;
  
}

.sobre-nosotros-1 {
  display: flex;
  margin-top: 150px;
  margin-left: 30px;

}

.sobre-nosotros-1 p {
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  text-align: center;
  color: #676D7D;

}

.card {
  margin-top: -50px;
  margin-left: 35px;
  position: relative;
  

}

.card:hover{

  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);

}


.fresco {
  background: #FFFFFF;
  border-radius: 6px;
  width:384px;
  height:263px;
}


.saludable {
  background: #FFFFFF;
  border-radius: 6px;
  width:384px;
  height:263px;
  margin-left: 20px;
}


.rico {
  background: #FFFFFF;
  border-radius: 6px;
  width:384px;
  height:263px;
  margin-left: 20px;
}


.productos {
	height: 1000px;
	margin-top: 260px;
	
}


.productos h1{
  font-family: serif;
  letter-spacing: 8pt;
	text-align: center;
	font-size: 40px;
	background-color: #F0F4EF ;
	padding-top: 20px;
	padding-bottom: 20px;
	color: #4A913D ;

}

.container {
  background-color: white;
  padding: 20px;
  padding-top: 80px;
  text-align: center;
}

.container .product {
  position: relative;
  overflow: hidden;
  width: 200px;
  height: 290px;
  display: inline-block;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.45);
  margin: 20px;
  padding: 15px;
}

.container .product img {
  position: relative;
  top: -15px;
  left: -15px;
  width: 200px;
  height: 170px;
 
}

.container .product img:hover {
  -webkit-clip-path: polygon(0 100%, 0 0, 100% 0, 100% 100%);
  clip-path: polygon(0 100%, 0 0, 100% 0, 100% 100%);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.container .product h2 {
  text-align: left;
  color: black;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 4px;
}

.container .product .description {
  text-align: left;
  font-size: 11px;
  color: black;
  max-height: 23px;
  overflow: hidden;
}

.container .product .price {
  text-align: right;
  font-size: 15px;
  color:black;
  margin-top: 6px;
}

.container .product .btn {
  position: absolute;
  font-size: 11px;
  font-weight: bold;
  float: right;
  padding: 10px;
  border: 2px solid #00fefe;
  border-radius: 20px;
  bottom: 10px;
  right: 10px;
  color: #00fefe;
  cursor: pointer;
  overflow: hidden;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}



.container .product .btn.ok {
  background-color: rgba(0, 254, 254, 0.4);
  color:black;
}

.container .product .btn:hover {
  padding-right: 25px;
}

.container .product .btn:after {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  position: absolute;
  color: #00fefe;
  margin-left: 30px;
  transition: all 0.2s ease;
}

.container .product .quickview {
  position: absolute;
  bottom: 20px;
  font-size: 11px;
  color:black;
  cursor: pointer;
}






/*FOOTER*/

footer {
	width: 100%;
	height: 600px;
  background-color: #F0F4EF ;
  margin-top: 50px;
  

}

.footer-top {
	display: flex;
	justify-content: space-around;
	padding-top: 30px;
	padding-left: 10px;
	

}

.footer-top p {
	
	font-family: inherit, serif;
}

.footer-top li {
	list-style: none;
	font-family: inherit, serif;
	font-size: 15px;
}

.footer-top ul {
	padding: 0px;
}

.contact img{
	height: 12px;
	width: 12px;
}

.footer-top a {
	text-decoration: none;
	color: black;
}

.contact-1 {
	margin-top: 20px;
}

.social img{
	height: 30px;
	width: 30px;
}

.social ul{
	margin-top: 30px;
}

.social a {
	text-decoration: none;
	color: black;
}

.newsletter {
	margin-top: 100px;
	font-family: inherit, serif;
	color: #4A913D;
	border: 2px solid;
	border-color: #4A913D;
	height: 120px;
	width: 1100px;
	margin-left: 45px;
}

.newsletter p {
	text-align: center;
}

.datos {
	display: flex;
	justify-content: space-around;
}

.suscribe {

	background-color: transparent;
	width: 150px;
	height: 50px;
	border:3px solid;
	box-shadow: 4px 4px 4px 4px lightgrey;
	border-color: #4A913D;
	margin-top: -18px;

}

.suscribe a {
	text-decoration: none;
	color: #4A913D;;
	font-size: 15px;

}

.datos button:hover{
	
	text-decoration: none;
	 -webkit-transform:scale(1.1);transform:scale(1.1);
	
}

input {
	border-color: #4A913D;
	border:1px solid;
}


.form :hover{ 
      text-decoration:none; font-weight:bold;
     }


  











